@media screen and (max-width: 400px) {
    nav a, .nav-right, .content-dropdown {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    section, aside {
        width: 100%;
    }
}